<div id="body">
    <h1>Hello World!</h1>
    <ul>
        <li> {{ number }} </li>
        <li> {{ number | currency }} </li>
        <li> {{ number | currency:code }} </li>
        <li> {{ code }} </li>
        <li> {{ code|lowercase }} </li>
        <li> {{ code | titlecase}} </li>
        <li> {{ date }} </li> -->
        <li> {{ date | date }} </li>
        <li> {{ date | date:'shortTime' }} </li>
        <!-- <li> {{email | gmail}} </li> -->
        <li> {{num | number:'decimal'}} </li>
      </ul>
</div>
