<div id="body">
    <h1>Pipe</h1>
    <ul>
        <li> {{ number }} </li>
        <li> {{ number | currency }} </li>
        <li> {{ number | currency:code }} </li>
        <li> {{ number | currency:'EUR' }}</li>
        <li> {{ number | currency:'USD' }}</li>
        <li> {{ number | percent}} </li>
        <li> {{ word }} </li>
        <li> {{ word | lowercase }} </li>
        <li> {{ word | titlecase}} </li>
        <li> {{ word | uppercase}} </li>
        <li> {{ date }} </li>
        <li> {{ date | date }} </li>
        <li> {{ date | date:'shortTime' }} </li>
        <li> {{ date | date:'date' }} </li>
        <li> {{ date | date:'fullDate'}} </li>
        <li> {{date | date:"MM/dd/yy" }}</li>
    </ul>
</div>